[submodule "Extern/Foundation/0.0.1"]
	path = Extern/Foundation/0.0.1
	url = git@github.com:yunmnmn/Foundation.git
	fetchRecurseSubmodules = true
[submodule "Extern/enkiTS/1.8.0"]
	path = Extern/enkiTS/1.8.0
	url = git@github.com:dougbinks/enkiTS.git
	fetchRecurseSubmodules = true
[submodule "Extern/glfw/3.3.2"]
	path = Extern/glfw/3.3.2
	url = git@github.com:glfw/glfw.git
	fetchRecurseSubmodules = true
[submodule "Extern/glm/0.9.9.8"]
	path = Extern/glm/0.9.9.8
	url = git@github.com:g-truc/glm.git
	fetchRecurseSubmodules = true
[submodule "Extern/SPIRV-Reflect/1.0.0"]
	path = Extern/SPIRV-Reflect/1.0.0
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
	fetchRecurseSubmodules = true
[submodule "CMakeUtils"]
	path = CMakeUtils
	url = git@github.com:yunmnmn/CMakeUtils.git
	fetchRecurseSubmodules = true
